/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 500px;
}

.grid-alert {
    background-color: darkred;
    color: white;
}

.grid-warn-1 {
    background-color: lemonchiffon;
    color: black;
}

.grid-warn-2 {
    background-color: rgb(252, 252, 110);
    color: black;
}

.grid-warn-3 {
    background-color: goldenrod;
    color: black;
}

.grid-regular {
    background-color: white;
    color: black;
}