.grid-alert {
    background-color: darkred;
    color: white;
}

.grid-warn-1 {
    background-color: lemonchiffon;
    color: black;
}

.grid-warn-2 {
    background-color: rgb(252, 252, 110);
    color: black;
}

.grid-warn-3 {
    background-color: goldenrod;
    color: black;
}

.grid-regular {
    background-color: white;
    color: black;
}